:root {
    --marquee-width: 80%;
    --marquee-elements-displayed: 4;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

*, html, body, .btn, a {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
    scrollbar-width: thin;
    scrollbar-color: var(--bs-secondary);
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: var(--bs-secondary);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border: 2px solid rgba(255,255,255,0.8);
}

*:hover::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(255,255,255,1);
}

*::-webkit-scrollbar-button:vertical:start:decrement,
*::-webkit-scrollbar-button:vertical:end:increment,
*::-webkit-scrollbar-button:horizontal:start:decrement,
*::-webkit-scrollbar-button:horizontal:end:increment,
*::-webkit-scrollbar-button,
*::-moz-scrollbar-button {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}

hr {
    border-top: 1px solid var(--bs-white) !important;
}

a {
    transition: all 0.3s 0.1s ease-in;
}

pre, p, h1, h2, h3, h4, h5, h6, small, li, a {
    color: var(--bs-white) !important;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 18px;
    width: 1px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline > li:before {
    content: '';
    background: var(--bs-secondary);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 1px solid var(--bs-secondary);
    left: 12px;
    width: 12px;
    height: 12px;
    z-index: 400;
}

.modal {
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    background: rgba(26, 26, 26, 0.2) !important;
    border-style: solid !important;
    border-width: 0px 0px 1px 0px !important;
    border-color: rgba(85, 89, 92, 0.5) !important;
}

.my-card {
    border: 1px solid var(--bs-gray-700) !important;
}

.border-gray {
    border-width: 1px !important;
    border-color: var(--bs-gray-700) !important;
}

.text-gray {
    color: var(--bs-gray-600);
}

.row.equal-cols {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
  
.row.equal-cols:before, .row.equal-cols:after {
	display: block;
}

.row.equal-cols > [class*='col-'] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 22px;
}
  
.row.equal-cols > [class*='col-'] > * {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; 
}

.blue-hover {
    transition: all 0.3s ease-in-out;
}

.blue-hover:hover {
    color: var(--bs-info) !important;
}

.shimmer {
	-webkit-mask: linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
	background-repeat: no-repeat;
	animation: shimmer 2.5s infinite;
}

@keyframes shimmer {
	100% {
		-webkit-mask-position: left;
	}
}

@media only screen and (max-width: 769px) {
    .desktop-only { display: none; }

    .mobile-only { display: block; }

    .marquee:before, .marquee:after {
        width: 3.5rem;
    }
}

@media only screen and (min-width: 768px) {   
    .mobile-only { display: none; }

    :root {
        --marquee-elements-displayed: 8;
        --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
        --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    }
}
